<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070466038613-og5lpof7eaab939ljvpdgi2jprf4sn94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070466038613-og5lpof7eaab939ljvpdgi2jprf4sn94</string>
	<key>API_KEY</key>
	<string>AIzaSyBAoftq99HKqOr5w4qDhXf-DiW6MSZ4JkI</string>
	<key>GCM_SENDER_ID</key>
	<string>1070466038613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutolin.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-858a0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-858a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070466038613:ios:8fd724fb8bf5762b55cddc</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-858a0.firebaseio.com</string>
</dict>
</plist>